In [1]:
자치구 = c('명동','동대문', '종로','이태원','잠실')
외18 = c(2.53,1.34,3.59,5.67,2.18)
외19 = c(2.12,1.44,3.65,5.60,2.44)
외20 = c(2.24,1.52,3.83,6.02,2.48)
외21 = c(2.38,1.61,4.04,6.24,2.47)
외국인<-data.frame(자치구,외18,외19,외20,외21)
외국인

  자치구 외18 외19 외20 외21
1 명동   2.53 2.12 2.24 2.38
2 동대문 1.34 1.44 1.52 1.61
3 종로   3.59 3.65 3.83 4.04
4 이태원 5.67 5.60 6.02 6.24
5 잠실   2.18 2.44 2.48 2.47

In [2]:
a <-read.table("Rdata1/자치구별외국인등록자.txt", fill = TRUE, header = T)
table(a$자치구)

  강남구   강동구   강북구   강서구   관악구   광진구   구로구   금천구
      36       36       36       36       36       36       36       36
  노원구   도봉구 동대문구   동작구   마포구 서대문구   서초구   성동구
      36       36       36       36       36       36       36       36
  성북구   송파구   양천구 영등포구   용산구   은평구   종로구     중구
      36       36       36       36       36       36       36       36
  중랑구     합계
      36       36

In [3]:
b <- a[-c(2,3),c(1,2,4)]
head(b)

  기간     자치구 합계
1 2018.1/4 합계   273,178
4 2018.1/4 종로구 9,799
5 2018.1/4 종로구 4,213
6 2018.1/4 종로구 5,586
7 2018.1/4 중구   9,057
8 2018.1/4 중구   4,206

In [4]:
관 <- read.csv("Rdata1/외래관광객수F.csv")[,-1]
관
외국인

  분기 X2018   X2019   X2020   X2021
1 1    2618751 3043965 1565970 28704
2 2    3138657 3853942   20990 44720
3 3    3144649 3648952   31985 58360
4 4    3512291 3885416   34526 80062

  자치구 외18 외19 외20 외21
1 명동   2.53 2.12 2.24 2.38
2 동대문 1.34 1.44 1.52 1.61
3 종로   3.59 3.65 3.83 4.04
4 이태원 5.67 5.60 6.02 6.24
5 잠실   2.18 2.44 2.48 2.47

In [5]:
#print(as.numeric(관[1,2]))
print(as.numeric(외국인[1,2]))


as.numeric(관[1,2])*as.numeric(외국인[,2]/100)
as.numeric(관[2,2])*as.numeric(외국인[,2]/100)

[1] 2.53

[1]  66254.40  35091.26  94013.16 148483.18  57088.77

[1]  79408.02  42058.00 112677.79 177961.85  68422.72

In [6]:
방문객 <- c()
for(i in 1:4){
    
    for(j in 1:4){
        
        방문객 <- rbind(방문객,as.numeric(관[i,i+1])*as.numeric(외국인[,j])/100)
   
    }
    
}
방문객
ncol(방문객)
nrow(방문객)

      [,1]       [,2]      [,3]       [,4]       [,5]
 [1,] 52375.0200 26187.510 130937.550  78562.530 104750.040
 [2,] 66254.4003 35091.263  94013.161 148483.182  57088.772
 [3,] 55517.5212 37710.014  95584.412 146650.056  63897.524
 [4,] 58660.0224 39805.015 100298.163 157648.810  64945.025
 [5,] 77078.8400 38539.420 192697.100 115618.260 154157.680
 [6,] 97504.7326 51642.823 138356.518 218518.511  84015.936
 [7,] 81703.5704 55496.765 140668.883 215820.752  94036.185
 [8,] 86328.3008 58579.918 147605.979 232007.308  95577.762
 [9,]   639.7000   319.850   1599.250    959.550   1279.400
[10,]   809.2205   428.599   1148.261   1813.550    697.273
[11,]   678.0820   460.584   1167.453   1791.160    780.434
[12,]   716.4640   486.172   1225.025   1925.497    793.228
[13,]  1601.2400   800.620   4003.100   2401.860   3202.480
[14,]  2025.5686  1072.831   2874.226   4539.515   1745.352
[15,]  1697.3144  1152.893   2922.263   4483.472   1953.513
[16,]  1793.3888  1216.942   3066.375   4819.732   1985.538

[1] 5

[1] 16

In [7]:
관광객예상 <- c()
for(i in 1:5){
    관광객예상 <- rbind(관광객예상,data.frame(예상방문객=방문객[,i]))
}
관광객예상
nrow(관광객예상)

    예상방문객
1   52375.0200
2   66254.4003
3   55517.5212
4   58660.0224
5   77078.8400
6   97504.7326
7   81703.5704
8   86328.3008
9     639.7000
10    809.2205
11    678.0820
12    716.4640
13   1601.2400
14   2025.5686
15   1697.3144
16   1793.3888
17  26187.5100
18  35091.2634
19  37710.0144
20  39805.0152
21  38539.4200
22  51642.8228
23  55496.7648
24  58579.9184
25    319.8500
26    428.5990
27    460.5840
28    486.1720
29    800.6200
30   1072.8308
... ...
51  146650.056
52  157648.810
53  115618.260
54  218518.511
55  215820.752
56  232007.308
57     959.550
58    1813.550
59    1791.160
60    1925.497
61    2401.860
62    4539.515
63    4483.472
64    4819.732
65  104750.040
66   57088.772
67   63897.524
68   64945.025
69  154157.680
70   84015.936
71   94036.185
72   95577.762
73    1279.400
74     697.273
75     780.434
76     793.228
77    3202.480
78    1745.352
79    1953.513
80    1985.538

[1] 80

In [13]:
방문외국인수 <- read.csv("Rdata1/방문외국인수.csv")
head(방문외국인수)
nrow(방문외국인수)

  년도 분기 지역   방문외국인수
1 2018 1    명동    66254
2 2018 1    동대문  35091
3 2018 1    종로    94013
4 2018 1    이태원 148483
5 2018 1    잠실    57089
6 2018 2    명동    79408

[1] 80

In [8]:
외관<-c()
for(i in 1:4){
    외관<-rbind(외관,data.frame(외국인관광객수=관[,i+1]))
}
nrow(외관)
외관

[1] 16

   외국인관광객수
1  2618751
2  3138657
3  3144649
4  3512291
5  3043965
6  3853942
7  3648952
8  3885416
9  1565970
10   20990
11   31985
12   34526
13   28704
14   44720
15   58360
16   80062

In [9]:
외거<-c()
for(i in 1:4){
    외거<-rbind(외거,data.frame(외국인거주비율=외국인[,i+1]))
}
nrow(외거)
외거

[1] 20

   외국인거주비율
1  2.53
2  1.34
3  3.59
4  5.67
5  2.18
6  2.12
7  1.44
8  3.65
9  5.60
10 2.44
11 2.24
12 1.52
13 3.83
14 6.02
15 2.48
16 2.38
17 1.61
18 4.04
19 6.24
20 2.47

In [10]:
외국인

  자치구 외18 외19 외20 외21
1 명동   2.53 2.12 2.24 2.38
2 동대문 1.34 1.44 1.52 1.61
3 종로   3.59 3.65 3.83 4.04
4 이태원 5.67 5.60 6.02 6.24
5 잠실   2.18 2.44 2.48 2.47

In [11]:
read.csv("Rdata1/방문외국인수.csv")

    년도 분기 지역   방문외국인수
1   2018 1    명동    66254
2   2018 1    동대문  35091
3   2018 1    종로    94013
4   2018 1    이태원 148483
5   2018 1    잠실    57089
6   2018 2    명동    79408
7   2018 2    동대문  42058
8   2018 2    종로   112678
9   2018 2    이태원 177962
10  2018 2    잠실    68423
11  2018 3    명동    79560
12  2018 3    동대문  42138
13  2018 3    종로   112893
14  2018 3    이태원 178302
15  2018 3    잠실    68553
16  2018 4    명동    88861
17  2018 4    동대문  47065
18  2018 4    종로   126091
19  2018 4    이태원 199147
20  2018 4    잠실    76568
21  2019 1    명동    64532
22  2019 1    동대문  43833
23  2019 1    종로   111105
24  2019 1    이태원 170462
25  2019 1    잠실    74273
26  2019 2    명동    81704
27  2019 2    동대문  55497
28  2019 2    종로   140669
29  2019 2    이태원 215821
30  2019 2    잠실    94036
... ...  ...  ...    ...
51  2020 3    명동    716
52  2020 3    동대문  486
53  2020 3    종로   1225
54  2020 3    이태원 1925
55  2020 3    잠실    793
56  2020 4    명동    773
57  2020 4    동대문  525
58  2020 4    종로   1322
59  2020 4    이태원 2078
60  2020 4    잠실    856
61  2021 1    명동    683
62  2021 1    동대문  462
63  2021 1    종로   1160
64  2021 1    이태원 1791
65  2021 1    잠실    709
66  2021 2    명동   1064
67  2021 2    동대문  720
68  2021 2    종로   1807
69  2021 2    이태원 2791
70  2021 2    잠실   1105
71  2021 3    명동   1389
72  2021 3    동대문  940
73  2021 3    종로   2358
74  2021 3    이태원 3642
75  2021 3    잠실   1441
76  2021 4    명동   1905
77  2021 4    동대문 1289
78  2021 4    종로   3235
79  2021 4    이태원 4996
80  2021 4    잠실   1978